<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs') %>
<body>
  <main 
    class="
      h-screen
      w-screen
      flex
      bg-transparent
      "
  >
  <!-- Mobile -->
    <section
      class="
        mobile-homepage-container
        flex
        flex-col
        w-screen
        h-full
        bg-black
      "
    >
      <div 
        class="
          header
          flex
          flex-row
          h-[66px]
          justify-between
          "
      >
        <div 
          class="
            menu-icon-container 
            py-5 
            px-4 
            flex-none
            "
            >
          <button 
            class="
            pr-4
            "
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
          </button>
        </div>
        <div 
          class="
            user-notification-container
            py-5 
            px-4 
            flex-none">
          <button type="button" class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>
          </button>
          <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
          </button>
        </div>
      </div>
      <div 
        class="
          mobile-title-container
          flex
          flex-col
          flex-wrap
          px-[21px]
          py-[16px]
        bg-black
          w-screen
          h-auto
        text-white
        "
      >
        <p 
          class="
            today-date
            text-[17px]
            "
            >
          01 de março de 2024
        </p>
        <h1
          class="
            body-title
            text-[25px]
            text-pretty
            pt-[13px]
          "
        >
          Bom dia, <%= username %>. Aqui estão suas tarefas diárias
        </h1>
      </div>
      <div 
        class="
          mobile-body-container
          w-screen
          h-screen
          flex
          flex-col
          "
      ></div>
      <div 
        class="
          new-task-bttn-container
          bg-black
          inline-flex
          flex-row
          flex-nowrap
          outline
          outline-1
          outline-white
          absolute
          w-[46px]
          h-[46px]
          top-[36rem]
          rounded-xl
          justify-center
          self-center
          shadow-md
          shadow-black
          "
      >
        <button
          type="button"
          class="js-new-task-bttn"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#F0F0F0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
        </button>
      </div>
    </section>
  </main>
  <script type="module" src="/scripts/showInput.js"></script>
</body>
</html>