.sidebar {
  width: 30%;
  min-width: 220px;
  height: 100%;
  background-color: #1E1E1E;
  position: absolute;
  display: none;
  z-index: 5;
}

.display-sidebar {
  display: flex;
  animation: slideInLeft;
  animation-duration: 500ms;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  animation: fadeIn;
  animation-duration: 2s;
}

.close-sidebar {
  animation: slideOutLeft;
  animation-duration: 500ms;
}

.menu {
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  position: absolute;
  font-size: 24px;
  height: 30%;
  top: 80px;
  left: 16px;
  white-space: collapse pretty;
  justify-content: space-evenly;
}

.create-collection-bttn-container {
  position: absolute;
  top: 90%;
  left: 11%;
  background-color: #2F2F2F;
  color: #F0F0F0;
  display: flex;
  flex-flow: row nowrap;
  width: 75%;
  height: 46px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px #000;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .sidebar {
    width: 30%;
    max-width: 250px;
  }
}