.new-task-input-container {
  margin: 0px auto;
  margin-bottom: 40px;
  position: fixed;
  top: 91%;
  left: 10%;
}

.new-task-input {
  color: white;
  border-radius: 12px;
  padding: 8px 35px 8px 8px;
  width: 75vw;
  box-shadow: 0px 2px 2px #000;
}

.new-task-input:focus {
  background-color: #2F2F2F;
}

.input-invalid {
  outline:1px solid red;
}