.new-task-input-container {
  margin: 0px auto;
  margin-bottom: 40px;
  position: fixed;
  top: 91%;
  left: 10%;
}

.new-task-input {
  color: white;
  border-radius: 12px;
  padding: 8px 35px 8px 8px;
  width: 75vw;
  box-shadow: 0px 2px 2px #000;
}

.create-collection-input-container {
  position: fixed;
  top: 90%;
  left: 2%;
}

.create-collection-input {
  background-color: #00453D;
  color: white;
  outline: none;
  border-radius: 12px;
  padding: 8px 35px 8px 8px;
  width: 60%;
  box-shadow: 0px 2px 2px #000;
}

input:focus {
  background-color: #2F2F2F;
}

.input-invalid {
  outline:1px solid red;
}

@media (min-width: 640px) {
 
}